﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="utf-8" />
    <title>Super Zapatos</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>
                <img src="~/Imgs/szlogo.png" /> <span class="title">SUPER ZAPATOS</span>
            </h1>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2" id="navbar">
                <ul class="nav nav-pills nav-stacked">
                    <li id="Stores"><a href="#">Almacenes</a></li>
                    <li id="Articles"><a href="#">Art&iacute;culos</a></li>
                </ul>
            </div>
            <div class="col-md-10" id="main">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="titulo_entidad">Inicio</h2>
                        <div id="data">
                            <p>Seleccione la acci&oacute;n deseada en el men&uacute; de navegaci&oacute;n</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid footer">
        <div class="row-fluid">
            <div class="col-md-12">
                SuperZapatos &copy; 2014 - GAP
            </div>
        </div>
    </footer>

    <script type="text/template" id="tpl_data_table_stores">
        <div class="row-fluid button-bar">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary create-button" data-entity="Stores">
                    <span class="glyphicon glyphicon-plus"></span> Crear almacén
                </button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <td data-field="name" data-type="string" class="sortable">Nombre</td>
                    <td data-field="address" data-type="string" class="sortable">Dirección</td>
                </tr>
            </thead>
            <tbody>
                {{ _.each(this.model, function(row) { }}
                <tr data-id="{{=row.id}}">
                    <td>
                        <span class="glyphicon glyphicon-pencil edit-button" data-id="{{=row.id}}" data-entity="Stores"></span>
                        <span class="glyphicon glyphicon-remove-circle delete-button" data-id="{{=row.id}}" data-entity="Stores"></span>
                    </td>
                    <td>{{=row.name}}</td>
                    <td>{{=row.address}}</td>
                </tr>
                {{ }); }}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="totalRowText">Total: {{=this.args.count}} registro(s)</td>
                </tr>
            </tfoot>
        </table>
    </script>

    <script type="text/template" id="tpl_data_table_articles">
        <div class="row-fluid button-bar">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary create-button" data-entity="Articles">
                    <span class="glyphicon glyphicon-plus"></span> Crear artículo
                </button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <td data-field="name" data-type="string" class="sortable">Nombre</td>
                    <td data-field="price" data-type="numeric" class="sortable rightAlign">Precio</td>
                    <td data-field="total_in_shelf" data-type="numeric" class="sortable rightAlign">En exhibición</td>
                    <td data-field="total_in_vault" data-type="numeric" class="sortable rightAlign">En bodega</td>
                    <td data-field="store_name" data-type="string" class="sortable">En tienda</td>
                </tr>
            </thead>
            <tbody>
                {{ _.each(this.model, function(row) { }}
                <tr data-id="{{=row.id}}">
                    <td>
                        <span class="glyphicon glyphicon-pencil edit-button" data-id="{{=row.id}}" data-entity="Articles"></span>
                        <span class="glyphicon glyphicon-remove-circle delete-button" data-id="{{=row.id}}" data-entity="Articles"></span>
                    </td>
                    <td>{{=row.name}}</td>
                    <td class="rightAlign">{{=row.strPrice}}</td>
                    <td class="rightAlign">{{=row.total_in_shelf}}</td>
                    <td class="rightAlign">{{=row.total_in_vault}}</td>
                    <td>{{=row.store_name}}</td>
                </tr>
                {{ }); }}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="totalRowText">Total: {{=this.args.count}} registro(s)</td>
                </tr>
            </tfoot>
        </table>
    </script>

    <!-- Modal crear almacén-->
    <div class="modal fade" id="modal-create-store" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Crear Almacén</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="create-store-name">Nombre</label>
                            <input type="text" class="form-control control-create-store" name="create-store-name" id="create-store-name" tabindex="1" placeholder="Nombre del almacén" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="create-store-address">Dirección</label>
                            <input type="text" class="form-control control-create-store" name="create-store-address" id="create-store-address" tabindex="2" placeholder="Dirección del almacén" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-create-store">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="save-create-store">Crear</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal actualizar almacén-->
    <div class="modal fade" id="modal-update-store" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Actualizar Almacén</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="update-store-name">Nombre</label>
                            <input type="text" class="form-control control-update-store" name="update-store-name" id="update-store-name" tabindex="1" placeholder="Nombre del almacén" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="update-store-address">Dirección</label>
                            <input type="text" class="form-control control-update-store" name="update-store-address" id="update-store-address" tabindex="2" placeholder="Dirección del almacén" />
                        </div>
                        <input type="hidden" name="update-store-id" id="update-store-id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-update-store">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="save-update-store">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal eliminar almacén-->
    <div class="modal fade" id="modal-delete-store" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Eliminar Almacén</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <span class="text-danger">¿Confirma que desea eliminar este almacén? (Esta acción no se puede deshacer)</span>
                        <input type="hidden" name="delete-store-id" id="delete-store-id" />
                        <input type="hidden" name="delete-store-name" id="delete-store-id" />
                        <input type="hidden" name="delete-store-address" id="delete-store-id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-delete-store">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="save-delete-store">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal crear artículo-->
    <div class="modal fade" id="modal-create-article" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Crear Artículo</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="create-article-name">Nombre</label>
                            <input type="text" class="form-control control-create-article" name="create-article-name" id="create-article-name" tabindex="1" placeholder="Nombre del artículo" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="create-article-description">Descripción</label>
                            <textarea class="form-control control-create-article" name="create-article-description" id="create-article-description" tabindex="1" placeholder="Descripción del artículo" rows="3"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="create-article-price">Precio</label>
                                <input type="text" class="form-control control-create-article" name="create-article-price" id="create-article-price" tabindex="3" placeholder="0.00" />
                            </div>
                            <div class="col-md-4">
                                <label for="create-article-total_in_shelf">En exhibición</label>
                                <input type="text" class="form-control control-create-article" name="create-article-total_in_shelf" id="create-article-total_in_shelf" tabindex="4" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="create-article-total_in_vault">En bodega</label>
                                <input type="text" class="form-control control-create-article" name="create-article-total_in_vault" id="create-article-total_in_vault" tabindex="5" placeholder="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="create-article-store">Almacén</label>
                            <select class="form-control" name="create-article-store" id="create-article-store" tabindex="6"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-create-article">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="save-create-article">Crear</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal actualizar artículo-->
    <div class="modal fade" id="modal-update-article" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Actualizar Artículo</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="update-article-name">Nombre</label>
                            <input type="text" class="form-control control-update-article" name="update-article-name" id="update-article-name" tabindex="1" placeholder="Nombre del artículo" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="update-article-description">Descripción</label>
                            <textarea class="form-control control-update-article" name="update-article-description" id="update-article-description" tabindex="1" placeholder="Descripción del artículo" rows="3"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="update-article-price">Precio</label>
                                <input type="text" class="form-control control-update-article" name="update-article-price" id="update-article-price" tabindex="3" placeholder="0.00" />
                            </div>
                            <div class="col-md-4">
                                <label for="update-article-total_in_shelf">En exhibición</label>
                                <input type="text" class="form-control control-update-article" name="update-article-total_in_shelf" id="update-article-total_in_shelf" tabindex="4" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="update-article-total_in_vault">En bodega</label>
                                <input type="text" class="form-control control-update-article" name="update-article-total_in_vault" id="update-article-total_in_vault" tabindex="5" placeholder="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-article-store">Almacén</label>
                            <select class="form-control" name="update-article-store" id="update-article-store" tabindex="6"></select>
                        </div>
                        <input type="hidden" name="update-article-id" id="update-article-id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-update-article">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="save-update-article">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal eliminar almacén-->
    <div class="modal fade" id="modal-delete-article" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Eliminar Artículo</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <span class="text-danger">¿Confirma que desea eliminar este artículo? (Esta acción no se puede deshacer)</span>
                        <input type="hidden" name="delete-article-id" id="delete-article-id" />
                        <input type="hidden" name="delete-article-name" id="delete-article-name" />
                        <input type="hidden" name="delete-article-description" id="delete-article-description" />
                        <input type="hidden" name="delete-article-price" id="delete-article-price" />
                        <input type="hidden" name="delete-article-price-total_in_shelf" id="delete-article-total_in_shelf" />
                        <input type="hidden" name="delete-article-price-total_in_vault" id="delete-article-total_in_vault" />
                        <input type="hidden" name="delete-article-store_id" id="delete-article-store_id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-delete-article">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="save-delete-article">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/app.js"></script>
</body>
</html>