﻿body {
    background-color: #000;
    font-family: 'Segoe UI';
    font-size: medium;
    color: white;
}

.jumbotron {
    background: -webkit-linear-gradient(left, #3c0ab9, #212020); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #3c0ab9, #212020); /* For Opera 11.1 to 12.0 */
    background: -ms-linear-gradient(left, #3c0ab9, #212020); /* For IE 9+*/
    background: -moz-linear-gradient(left, #3c0ab9, #212020); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #3c0ab9, #212020); /* Standard syntax */
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #0f5aa1;
    color: white;
}

#titulo_entidad, #titulo_pedidos {
    color: #0f5aa1;
    font-weight: bold;
}

html, body, .container {
    height: 100%;
}

.container {
    display: table;
    width: 98%;
    margin-top: -50px;
    padding: 50px 10px 10px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button-bar {
    margin-top: -45px;
    padding-bottom: 20px;
    float: right;
}

.title {
    padding-left: 25px;
}

footer {
    margin-top: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #212020;
    color: #FFF;
    padding: 20px;
    width: 100%;
    font-size: small;
    text-align: center;
}

#main {
    overflow: auto;
    margin-bottom: 50px;
}

#data table thead > tr {
    font-weight: bold;
    color: #FFF;
    background-color: #0f5aa1;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #212020;
}

.disabled {
    color: #4b4b4b;
    padding: 50px 10px;
}

.totalRowText, .totalRowValue {
    font-weight: bolder;
    color: cornflowerblue;
}

.totalRowText, .rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

table td {
    cursor: default;
}

.sorted:after {
    content: " ▼";
}

.sorted-descending:after {
    content: " ▲";
}

.modal-content {
    color: #212020;
}

.modal-title {
    color: #000;
    font-weight: bolder;
}

.modal-header {
    background-color: #cacaca;
}

.create-button {
    background-color: #0f5aa1;
}
